<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Added Email Template</title>
</head>
<body>
<div style="margin: 0; padding: 0; background-color: #f2f2f2; font-family: arial, serif;">
    <table style="margin: 0 auto; background: white; max-width: 500px; padding-bottom: 0; border-top: 5px solid #588dde; border-bottom: 5px solid #588dde; width: 100%;">
        <tr style="background: rgb(237, 243, 255); padding-left: 20px; padding-right: 20px;">
            <td>
                <table align="left" style="width: 100%;">
                    <tr>
                        <td style="padding: 10px;">
                            <h1 style="text-align: center; color: #1a1a72;">Congratulations!</h1>
                            <h2 style="margin-top:25px; margin-bottom: 0; color: #4db0c4; font-weight: 400; font-size: medium;">
                                You have been assigned as a Store Manager.</h2>
                            <h2 style="margin-top:20px; margin-bottom: 0; color: #4db0c4; font-weight: 400; font-size: medium;">
                                Now you can manage product related operations as a store manager in the Online Fashion
                                Store.</h2>
                            <h2 style="margin-top:20px; margin-bottom: 10px; color: #4db0c4; font-weight: 400; font-size: medium;">
                                Please find your login credentials below.</h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="background: rgb(237, 243, 255); padding-left: 20px; padding-right: 20px;">
            <td>
                <table align="left" style="width: 100%;">
                    <tr>
                        <td style="padding: 10px;">
                            <h4 style="margin-top:20px; margin-bottom: 8px; color: #145a7a; font-weight: 400; text-align: center; font-size: 16px;">
                                <b>LOGIN CREDENTIALS</b></h4>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="background: rgb(237, 243, 255); padding-left: 20px; padding-right: 20px;">
            <td>
                <table align="left" style="width: 50%;">
                    <tr>
                        <td align="left" style="padding: 10px;" valign="top">
                            <h6 style="font-size: 14px; margin-top: 0; margin-bottom: 0; color: #29353c; font-weight: 400;">
                                E-mail</h6>
                            <h6 style="font-size: 14px; margin-top: 20px; margin-bottom: 0; color: #29353c; font-weight: 400;">
                                Password</h6>
                        </td>
                    </tr>
                </table>
                <table align="left" style="width: 50%;">
                    <tr>
                        <td align="right" style="padding: 10px;" valign="top">
                            <h6 style="font-size: 14px; margin-top: 0; margin-bottom: 0; color: #588dde; font-weight: 400;">
                                ${email}</h6>
                            <h6 style="font-size: 14px; margin-top: 20px; margin-bottom: 0; color: #588dde; font-weight: 400;">
                                ${password}</h6>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
